In [1]:
import json
import pandas as pd

In [2]:
with open('train.json', 'r') as file:
    image_data = json.load(file)

In [3]:
image_dataframe = pd.DataFrame.from_dict(image_data['categories'])
image_supercategory_filtered = image_dataframe[image_dataframe["supercategory"].isin(["Birds"])]
print(len(image_supercategory_filtered))
image_annotations = pd.DataFrame.from_dict(image_data['annotations'])
image_annotations_filtered = image_annotations[image_annotations["category_id"].isin(image_supercategory_filtered['id'])]
print(len(image_annotations_filtered))

1486
414847

In [4]:
image_data.pop('info')
image_data.pop('licenses')
print(image_data.keys())

dict_keys(['images', 'categories', 'annotations'])

In [6]:
import csv
with open('map.csv', newline='') as csvfile:
    audio_data = csv.reader(csvfile, delimiter=',', quotechar='|')
    audio_data = pd.read_csv(csvfile)

In [7]:
audio_data.reset_index(inplace=True)

In [9]:
(audio_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   level_0       355 non-null    int64
 1   index         355 non-null    int64
 2   mid           355 non-null    int64
 3   display_name  355 non-null    object
dtypes: int64(3), object(1)
memory usage: 11.2+ KB

In [10]:
audio_data.tail()

     level_0  index  mid           display_name
350      350    351  351           Common_Raven
351      351    352  352          Cedar_Waxwing
352      352    353  353    European_Greenfinch
353      353    354  354  Yellow_fronted_Canary
354      354    355  355        Eurasian_Linnet

In [33]:
image_supercategory_filtered.tail()

,id,name,common_name,supercategory,kingdom,phylum,class,order,family,genus,specific_epithet,image_dir_name
4592,4592,Trogon collaris,Collared Trogon,Birds,Animalia,Chordata,Aves,Trogoniformes,Trogonidae,Trogon,collaris,04592_Animalia_Chordata_Aves_Trogoniformes_Tro...
4593,4593,Trogon elegans,Elegant Trogon,Birds,Animalia,Chordata,Aves,Trogoniformes,Trogonidae,Trogon,elegans,04593_Animalia_Chordata_Aves_Trogoniformes_Tro...
4594,4594,Trogon massena,Slaty-tailed Trogon,Birds,Animalia,Chordata,Aves,Trogoniformes,Trogonidae,Trogon,massena,04594_Animalia_Chordata_Aves_Trogoniformes_Tro...
4595,4595,Trogon melanocephalus,Black-headed Trogon,Birds,Animalia,Chordata,Aves,Trogoniformes,Trogonidae,Trogon,melanocephalus,04595_Animalia_Chordata_Aves_Trogoniformes_Tro...
4596,4596,Trogon rufus,Black-throated Trogon,Birds,Animalia,Chordata,Aves,Trogoniformes,Trogonidae,Trogon,rufus,04596_Animalia_Chordata_Aves_Trogoniformes_Tro...

In [14]:
xcm_display_name = audio_data["display_name"]

In [34]:
xcm_display_name

0              Great_Tinamou
1          Cinereous_Tinamou
2             Little_Tinamou
3          Undulated_Tinamou
4            Horned_Screamer
               ...
350             Common_Raven
351            Cedar_Waxwing
352      European_Greenfinch
353    Yellow_fronted_Canary
354          Eurasian_Linnet
Name: display_name, Length: 355, dtype: object

In [39]:
inat_common_name = image_supercategory_filtered["common_name"]

In [40]:
inat_common_name.tail()

4592          Collared Trogon
4593           Elegant Trogon
4594      Slaty-tailed Trogon
4595      Black-headed Trogon
4596    Black-throated Trogon
Name: common_name, dtype: object

In [42]:
inat_common_name = inat_common_name.apply( lambda x:  x.replace(" ", "_"))

In [43]:
inat_common_name

3111                   Shikra
3112            Cooper's_Hawk
3113         Northern_Goshawk
3114     Eurasian_Sparrowhawk
3115       Sharp-shinned_Hawk
                ...
4592          Collared_Trogon
4593           Elegant_Trogon
4594      Slaty-tailed_Trogon
4595      Black-headed_Trogon
4596    Black-throated_Trogon
Name: common_name, Length: 1486, dtype: object

In [26]:
type(inat_common_name)

pandas.core.series.Series

In [27]:
type(xcm_display_name)

pandas.core.series.Series

In [29]:
ls =

In [44]:
inter = pd.Series(list(set(inat_common_name) & set(xcm_display_name)))