In [1]:
import json
import pandas as pd

In [2]:
with open('inaturalist_train_label.json', 'r') as file:
    train_labels = json.load(file)
with open('inaturalist_test_label.json', 'r') as file:
    test_labels = json.load(file)
with open('inaturalist_val_label.json', 'r') as file:
    val_labels = json.load(file)

In [3]:
train_labels_dataframe = pd.DataFrame(train_labels['data'])
test_labels_dataframe = pd.DataFrame(test_labels['data'])
val_labels_dataframe = pd.DataFrame(val_labels['data'])

In [4]:
combined_dataframe = pd.concat([train_labels_dataframe, test_labels_dataframe, val_labels_dataframe])
combined_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167527 entries, 0 to 33128
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   wav      167527 non-null  object
 1   labels   167527 non-null  int64
 2   caption  167527 non-null  object
dtypes: int64(1), object(2)
memory usage: 5.1+ MB

In [5]:
combined_dataframe

,wav,labels,caption
0,train/train/03612_Animalia_Chordata_Aves_Passe...,843,White-throated Sparrow
1,train/train/04361_Animalia_Chordata_Aves_Passe...,961,House Wren
2,train/train/02061_Animalia_Chordata_Aves_Cucul...,347,Asian Koel
3,train/train/01399_Animalia_Chordata_Aves_Accip...,2,Cooper's Hawk
4,train/train/02978_Animalia_Chordata_Aves_Passe...,592,Tree Swallow
...,...,...,...
33124,val/val/01818_Animalia_Chordata_Aves_Charadrii...,228,White-headed Stilt
33125,val/val/01818_Animalia_Chordata_Aves_Charadrii...,228,White-headed Stilt
33126,val/val/01818_Animalia_Chordata_Aves_Charadrii...,228,White-headed Stilt
33127,val/val/01818_Animalia_Chordata_Aves_Charadrii...,228,White-headed Stilt
33128,val/val/01818_Animalia_Chordata_Aves_Charadrii...,228,White-headed Stilt